products
3rd-parties-arc
3rd-parties
debug
release
custom.bat
win64/
win32/
tmp/
cmake-build-dir
cmake-install-dir
doc/reference/generated/
test/results/*
test/dumping/*
test/*.png
test/*.fbx
include/
demos/build*
demos/*build
*/build/
/build*
*/build-cmake
/install
uic_wrapper.bat
.vs
*.psess
*.vsp
*.ncb
*.suo
*.user
~*.tmp
*.ipch
*.sdf
*.opensdf
*.log
*.aps
*.bak
*.pyc
log.txt
Makefile*

# Temporary MS Office files
~$*

# Intel Parallel Studio results
/msvc/vc12/My*Results*
/msvc/My*Results*

#
/test/*.brep

Lesson22_project-curves/build-occt760/

extras_project-curves/build-occt760/
